{% extends 'base.html' %}
{% block title %}Пост {{ post.text|truncatechars:30 }}{% endblock %}
{% block content %}
{% load thumbnail %}
<div class="row">
  <aside class="col-12 col-md-3">
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        Дата публикации: {{ post.pub_date|date:"d E Y" }} 
      </li>
      <li class="list-group-item"> 
        {% include 'posts/includes/one_group.html' %}
      </li>

      <li class="list-group-item">
        Автор: {{ post.author.get_full_name }} {{ post.author }}
      </li>
      <li class="list-group-item d-flex justify-content-between align-items-center">
        Всего постов автора: <span >{{ post.author.posts.count }}</span>
      </li>
      <li class="list-group-item">
        <a href="{% url 'posts:profile' post.author %}">
          Все посты автора
        </a>
      </li>
    </ul>
  </aside>
  <article class="col-12 col-md-9">
    {% thumbnail post.image "960x339" crop="center" upscale=True as im %}
      <img class="card-img my-2" src="{{ im.url }}">
    {% endthumbnail %}
    <p>{{ post.text }}</p>

    {% if post.author == user %}
    <div class="row">
      <div class="col-md-10">
          <a href="{% url 'posts:post_edit' post.id %}">
              <button class="btn btn-warning">Редактировать</button>
          </a>
      </div>

      <div class="col-md-2 text-right">
          <a href="{% url 'posts:post_delete' post.id %}">
              <button type="submit" class="btn btn-danger">Удалить</button>
          </a>
      </div>
  </div>
    {% endif %} 
  </article>
</div> 

<div class="card my-4">
  {% include 'posts/includes/comment.html' %}
</div>
{% endblock %}