{% extends "base.html" %}
{% block title %}Профайл пользователя{% endblock %}
{% block header %}Профайл{% endblock %}
{% block content %}


<main role="main" class="container">
    <div class="row">
        {% include "include/user_info.html" %}

            <div class="col-md-9">                
                {% for post in page %}
                    {% include 'include/one_post.html' %}

                    {% if not forloop.last %}<hr>{% endif %}
                {% endfor %}
            {% include "include/paginator.html" %}
     </div>
    </div>
</main>

{% endblock %}